@model IEnumerable<VehicleRentalSystem.Models.Vehicle>

<h2>Vehicles</h2>

<a href="/Vehicles/Create">Add New Vehicle</a>

<table border="1">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Brand</td>
            <td>@item.Model</td>
            <td>@item.PricePerDay</td>
            <td>
                <a href="/Vehicles/Edit/@item.Id">Edit</a> |
                <a href="/Vehicles/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>